kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: "{{ .Values.metadata.name }}"
  labels:
    app.kubernetes.io/name: {{ .Values.metadata.name }}
    app.kubernetes.io/instance: {{ .Values.metadata.name }}
    app.kubernetes.io/version: {{ .Values.image.version | default "" | splitList "@" | first }}
rules:
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["get","list", "create", "watch"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get","list", "watch"]

  # Below rules are not included in the Openshift yaml so are commented out below:
  # https://assets.<REGION>.logging.cloud.ibm.com/clients/logdna-agent/<VERSION>/agent-resources-openshift-private.yaml

  # - apiGroups: [""]
  #   resources: ["nodes"]
  #   verbs: ["get","list", "watch"]
  # - apiGroups: ["metrics.k8s.io"]
  #   resources: ["pods"]
  #   verbs: ["get","list", "watch"]
  # - apiGroups: ["metrics.k8s.io"]
  #   resources: ["nodes"]
  #   verbs: ["get","list", "watch"]
