apiVersion: v1
data:
  logdna-agent-key: '{{ required "LogDNA Ingest key must be provided" .Values.secret.key | b64enc }}'
kind: Secret
metadata:
  name: {{ .Values.secret.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ .Values.metadata.name }}
    app.kubernetes.io/instance: {{ .Values.metadata.name }}
    app.kubernetes.io/version: {{ .Values.image.version | default "" | splitList "@" | first }}
  annotations:
    {{- range .Values.checkov_skips }}
    {{- . | toYaml | nindent 4 -}}
    {{- end }}
type: Opaque
