# NOTE: Mock values added here for helm linter to pass. Actual values are set in main.tf
metadata:
  name: "logdna-agent"
image:
  repository: "ext/logdna-agent"
  # renovate: datasource=docker depName=icr.io/ext/logdna-agent versioning=regex:^(?<major>\d+)\.(?<minor>\d+)\.(?<patch>\d+)-(?<build>\d{8}).\w+?$
  version: "3.9.1-20231225.fb0af936e8df898f"
  registry: icr.io
env:
  host: "logs.private.us-south.logging.cloud.ibm.com"
secret:
  name: "log-analysis-agent"
  key: "XXX"
agent:
  tags: ""
  dbPath: "/var/lib/logdna"
checkov_skips:
  - checkov.io/skip1: CKV_K8S_21  # "The default namespace should not be used" - false positive - the helm namespace is always used, but not picked up by linter
  - checkov.io/skip2: CKV_K8S_11  # "CPU limits should be set" - ignoring as chart not owned by us
  - checkov.io/skip3: CKV_K8S_43  # Valid issue, tracked at https://github.ibm.com/GoldenEye/issues/issues/6704
  - checkov.io/skip4: CKV_K8S_38  # "Ensure that Service Account Tokens are only mounted where necessary" - ignoring as chart not owned by us
  - checkov.io/skip5: CKV_K8S_29  # "Apply security context to your pods and containers" - ignoring as chart not owned by us
  - checkov.io/skip6: CKV_K8S_25  # "Minimize the admission of containers with added capability" - ignoring as chart not owned by us
  - checkov.io/skip7: CKV_K8S_35  # "Prefer using secrets as files over secrets as environment variables" - ignoring as chart not owned by us
  - checkov.io/skip8: CKV_K8S_9   # "Readiness Probe Should be Configured" - ignoring as chart not owned by us
  - checkov.io/skip9: CKV_K8S_22  # "Use read-only filesystem for containers where possible" - ignoring as chart not owned by us
  - checkov.io/skip10: CKV_K8S_40 # "Containers should run as a high UID to avoid host conflict" - ignoring as chart not owned by us
  - checkov.io/skip11: CKV_K8S_20 # "Containers should not run with allowPrivilegeEscalation" - see https://github.ibm.com/GoldenEye/issues/issues/67
  - checkov.io/skip12: CKV_K8S_12 # "Memory requests should be set" - ignoring as chart not owned by us
  - checkov.io/skip13: CKV_K8S_8  # "Liveness Probe Should be Configured" - ignoring as chart not owned by us
  - checkov.io/skip14: CKV_K8S_31 # "Ensure that the seccomp profile is set to docker/default or runtime/default" - ignoring as chart not owned by us
