# NOTE: Mock values added here for helm linter to pass. Actual values are set in main.tf
metadata:
  name: "sysdig-agent"
image:
  registry: "icr.io/ext/sysdig/agent"
config:
  clustername: "test"
  host: "ingest.private.us-south.monitoring.cloud.ibm.com"
  tags: ""
secret:
  key: ""
  name: "sysdig-agent"
metrics_filter: []
# example:
# metrics_filter:
#  - type: "include"
#    name: "metricA.*"
#  - type: "exclude"
#    name: "metricB.*"
#  - type: "include"
#    name: "metricC.*"
psp:
  # true here enables creation of Pod Security Policy to allow the agent run with the required permissions
  create: true

container_filter: []
# example:
# container_filter:
#   - include:
#         container.image: appdomain/my-app-image
#   - include:
#         container.name: my-java-app
#   - exclude:
#         kubernetes.namespace.name: kube-system
