image:
  registry: "icr.io/iac/agent"
config:
  clustername: "test"
  region: "us-south"
secret:
  key: ""
metrics_filter: []
# example:
# metrics_filter:
#  - type: "include"
#    name: "metricA.*"
#  - type: "exclude"
#    name: "metricB.*"
#  - type: "include"
#    name: "metricC.*"
checkov_skips:
  - checkov.io/skip1: CKV_K8S_21
  - checkov.io/skip2: CKV_K8S_30
  - checkov.io/skip3: CKV_K8S_28
  - checkov.io/skip4: CKV_K8S_22
  - checkov.io/skip5: CKV_K8S_20
  - checkov.io/skip6: CKV_K8S_37
  - checkov.io/skip7: CKV_K8S_23
  - checkov.io/skip8: CKV_K8S_38
  - checkov.io/skip9: CKV_K8S_29
  - checkov.io/skip10: CKV_K8S_40
  - checkov.io/skip11: CKV_K8S_31
  - checkov.io/skip12: CKV_K8S_9
  - checkov.io/skip13: CKV_K8S_16
  - checkov.io/skip14: CKV_K8S_8
  - checkov.io/skip15: CKV_K8S_17
  - checkov.io/skip16: CKV_K8S_19
  - checkov.io/skip17: CKV_K8S_43
