apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ .Values.metadata.name }}"
  namespace: "{{ .Release.Namespace }}"
  labels:
    app.kubernetes.io/name: "{{ .Values.metadata.name }}"
    app.kubernetes.io/instance: "{{ .Values.metadata.name }}"
    app.kubernetes.io/version: {{ .Values.image.version | default "" | splitList "@" | first }}
data:
  dragent.yaml: |
    configmap: true

    new_k8s: true
    k8s_cluster_name: {{ .Values.config.clustername }}

    {{- if .Values.config.tags }}
    ### Agent tags
    tags: {{.Values.config.tags}}
    {{- end }}

    #### Sysdig Software related config ####

    # Sysdig collector address
    collector: {{ .Values.config.host }}

    # Collector TCP port
    collector_port: 6443

    # Whether collector accepts ssl
    ssl: true

    # collector certificate validation
    ssl_verify_certificate: true

    {{ if .Values.metrics_filter -}}
    # metrics that must be included/excluded during the metrics collection
    metrics_filter:
      {{ range $v := .Values.metrics_filter -}}
      - {{ $v.type }}: {{ $v.name }}
      {{ end }}
    {{- end -}}
