### WARNING: this file is supported from Sysdig Agent 0.80.0
# apiVersion: extensions/v1beta1  # If you are in Kubernetes version 1.8 or less please use this line instead of the following one
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: "{{ .Values.metadata.name }}"
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: "{{ .Values.metadata.name }}"
    app.kubernetes.io/instance: "{{ .Values.metadata.name }}"
    # Extracts the first part before '@' from .Values.image.version, ensuring it's treated as a string.
    app.kubernetes.io/version: {{ .Values.image.version | default "" | toString | splitList "@" | first }}
spec:
  selector:
    matchLabels:
      app: "{{ .Values.metadata.name }}"
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: "{{ .Values.metadata.name }}"
    spec:
      volumes:
      - name: modprobe-d
        hostPath:
          path: /etc/modprobe.d
      - name: osrel
        hostPath:
          path: /etc/os-release
          type: FileOrCreate
      - name: dshm
        emptyDir:
          medium: Memory
      - name: dev-vol
        hostPath:
          path: /dev
      - name: proc-vol
        hostPath:
          path: /proc
      - name: boot-vol
        hostPath:
          path: /boot
      - name: modules-vol
        hostPath:
          path: /lib/modules
      - name: usr-vol
        hostPath:
          path: /usr
      - name: run-vol
        hostPath:
          path: /run
      - name: varrun-vol
        hostPath:
          path: /var/run
      - name: sysdig-agent-config
        configMap:
          name: "{{ .Values.metadata.name }}"
          optional: true
      - name: sysdig-agent-secrets
        secret:
          # checkov:skip=CKV_SECRET_6
          secretName: "{{ .Values.secret.name }}"
      - name: podinfo
        downwardAPI:
          defaultMode: 420
          items:
          - fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
            path: namespace
          - fieldRef:
              apiVersion: v1
              fieldPath: metadata.name
            path: name
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      hostPID: true
      tolerations:
      {{- range $val := .Values.tolerations }}
        - effect: {{ $val.effect | quote }}
          key: {{ $val.key | quote }}
          value: {{ $val.value | quote }}
          operator: {{ $val.operator | quote }}
          tolerationSeconds: {{ $val.tolerationSeconds }}
      {{- end}}
      # The following line is necessary for RBAC
      serviceAccountName: "{{ .Values.metadata.name }}"
      terminationGracePeriodSeconds: 5
      containers:
      - name: "{{ .Values.metadata.name }}"
        image: "{{ .Values.image.registry }}:{{ required "Agent version must be provided" .Values.image.version }}"
        imagePullPolicy: Always
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 1000m
            memory: 1024Mi
          limits:
            cpu: 1000m
            memory: 1024Mi
        readinessProbe:
          exec:
            command: [ "test", "-e", "/opt/draios/logs/running" ]
          initialDelaySeconds: 10
        volumeMounts:
        - mountPath: /etc/modprobe.d
          name: modprobe-d
          readOnly: true
        - mountPath: /host/dev
          name: dev-vol
          readOnly: false
        - mountPath: /host/proc
          name: proc-vol
          readOnly: true
        - mountPath: /host/boot
          name: boot-vol
          readOnly: true
        - mountPath: /host/lib/modules
          name: modules-vol
          readOnly: true
        - mountPath: /host/usr
          name: usr-vol
          readOnly: true
        - mountPath: /host/run
          name: run-vol
        - mountPath: /host/var/run
          name: varrun-vol
        - mountPath: /dev/shm
          name: dshm
        - mountPath: /opt/draios/etc/kubernetes/config
          name: sysdig-agent-config
        - mountPath: /opt/draios/etc/kubernetes/secrets
          name: sysdig-agent-secrets
        - mountPath: /host/etc/os-release
          name: osrel
          readOnly: true
        - mountPath: /etc/podinfo
          name: podinfo
